<h1>My portofolio</h1>
<div class="search-area">
  <h3>Search stocks</h3>
  <%= form_tag search_stock_path, remote: true, method: :get do %>
    <div class="input-group">
      <%= text_field_tag :stock, params[:stock], placeholder: 'STCK', autofocus: true, class: "form-control" %>
      <div class="input-group-append">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
        <%= fa_icon 'search' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results">
  <%= render 'users/result' %>
</div>
<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% end %>
